*
{
    margin: 0;
}
*
{
    box-sizing: border-box;
}
.clearfix
{
    clear: both;
}
.home
{
    height: 100vh;
    background-image: url(image/slider-01.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
}
.container
{
    width: 75%;
    margin: auto;
}
.navleft
{
    float: left;
    margin-top: 20px;
}
.navright
{
    float: right;
    margin-top: 25px;
}
.linkleft
{
    text-decoration: none;
    color: #ff305b;
    font-weight: 800;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}
.linkright
{
    text-decoration: none;
font-family: 'Source Sans Pro', sans-serif;
    font-weight:300;
    font-size: 17px;
    color: #fff;
    padding: 0px 10px;
}
.linkright:hover
{
    color:#ff305b ;
    transition: 0.7s;
}
.homediv
{
    color: #fff;
    width: 40%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 24px;
    line-height: 2.3em;
    margin: auto;
    position: relative;
    top: 240px;
}
.homediv h1
{
    margin-top: 6px;
    font-size: 70px;
    color: #ff305b;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}
.homediv h3
{
    font-weight: 600;
    font-size: 24px;
}
.homediv h4
{
    font-size: 24px;
    text-transform: capitalize;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}
.inner
{
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.8);
}
.rdamsmith
{
    padding: 30px 30px;
}
.container2
{
    width: 70%;
    margin: 50px auto;
    position: relative;
}
.rdamdiv
{
    width: 45%;
    line-height: 1.6em;
    font-family: 'Roboto', sans-serif;
    float: right;
    margin-right: 40px;
}
.rdamdiv h2::before
{
    content: "| ";
    font-size: 34PX;
    width: 4px;
    color: #ff305b;
}
.rdamdiv h2
{
    font-size: 34px;
}
.rdamdiv .hr
{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #555555;
    font-size: 10px; 
}
.rdamdiv p
{
    color: #555555;
}
.porfile
{
    line-height: 2.5em;
    margin-right: 50px;
    float: left;
}
.porfile2
{
    float: left;
    line-height: 2.5em;
    margin-left: 40px;
    margin-bottom: 17px;
}
.boxshadow
{
    box-shadow: inset 0px 0px 0px 8px #555555;
    border-radius: 5px;
    margin: auto;
    float: left;
    margin-left: 50px;
    
}
.rdamimg 
{
    position: relative;
    left: 25px;
    top: 25px;
}
.rdamimg img
{
    border-radius: 5px;
}
.rdamicons
{
    opacity: 0;
    background-color:darkblue;
    text-align: center;
    position: absolute;
    bottom:4px;
    width: 100%;
    height: 0%;
    background-color: rgba(0, 0, 0, 0.57);
    border-radius: 5px;
    transition: 0.5s;
}
.rdamimg:hover .rdamicons
{
    height: 100%;
    opacity: 1;
}
.icons
{
    position: absolute;
    top: 50%;
    left: 25%;

}
.btn1
{
    border-radius: 4px;
    border: none;
    color: #ffffff;
    margin-right: 15px;
    padding: 10px 24px;
    background-color: #ff305b;
    transition: 1s;
    font-size: 18px;
}
.btn2
{
    border-radius: 4px;
    border: none;
    color: #ffffff;
    margin-right: 10px;
    padding: 10px 24px;
    background-color: #ff305b ;
    transition: 1s;
    font-size: 18px;
}
.btn1:hover
{
    background-color: red;
    cursor: pointer;
}
.btn2:hover
{
    background-color: red;
    cursor: pointer;
}
.rdamicons i 
{
    padding-top: 8px;
    width: 30px;
    height: 30px;
    color: #fff;
    margin-right: 5px;
    border-radius: 50%;
}
.rdamicons i.f:hover
{
    color: #ff305b;   
    transition: 0.5s;
}
.rdamicons i.g:hover 
{
    color: #ff305b;
    cursor: pointer;
    transition: 0.5s;
}
.rdamicons i.t:hover 
{
    color: #ff305b;
    cursor: pointer;
    transition: 0.5s;
}
.rdamicons i.fa:hover
{
    color: #ff305b;
    transition: 0.5s;
}
.our-service
{
    padding: 80px 80px;
    text-align: center;
    background-color: #f1f1f1;
}
.our-service h2
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    font-weight: 800px;
    color: #333;
}
.container3
{
    width: 90%;
    margin-top: 40px;
    margin: auto;
}
.item
{
    margin: auto;
    width: 22.5%;
    float: left;
    line-height: 1.76em;  
    margin-left: 22px;  
    margin-top: 40px;
}
.itemdiv img
{
    background-color: white;
    width: 36px;
    transition: transform 0.5s;
}
.itemdiv
{
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    transition:  box-shadow 0.5s;
}
.itemdiv:hover
{
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
}
.itemdiv:hover img
{
    transform: scale(1.2);
}
.itemdiv p
{
    color:#555555;
}
.border
{
    width: 70px;
    height: 0.5px;
    background-color: #ff305b;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}
.border-high
{
    width: 160px;
    height: 2px;
   background-color: #ff305b;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}
.Our-Portfolio
{
    padding: 30px 30px;
    text-align: center;
}
.Our-Portfolio h2
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    font-weight: 800px;
    color: #333;
}
.container4
{
    width: 80%;
    margin: auto; 
}
.Portfolio-in img
{
    width: 100%;
}
.Portfolio-in
{
    position: relative;
    padding-right: 30px;
    overflow: hidden;
    float: left;
    width: 33.33333%;
    margin-top: 20px;
}
.Portfolio-icons:hover
{
    opacity: 1;
    cursor: pointer;
}
.buttons
{
    margin-right: 20px;
    margin-top: 25px;
}
.btn
{
    cursor: pointer;
    border: none;
    background-color: white;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 3px 12px;
}
.border-m
{
    width: 160px;
    height: 0.5px;
    background-color: #ff305b;
    margin: auto;
    margin-bottom: 9px;
}
.Portfolio-icons
{
    position:absolute;
    bottom: 4px;
    left: -10px; 
    color: #ff305b;
    background-color: rgba(0, 0, 0, 0.57);
    width: 95%;
    height: 100%;
    opacity: 0;
    transition:opacity 0.5s;
}
.Portfolio-icons i
{
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.member
{
    padding: 100px 0px;
    background-color: #f1f1f1;
}
.container5
{
    width: 90%;
    margin: auto;
}
.team
{
    text-align: center;
    float: left;
    margin-right:90px;
    margin-left: 135px;
    line-height: 2.1em;
}
.teamicons
{
    color: red;
    font-size: 30px;
}
.team h3
{
    font-size: 24px;
    font-weight: 800;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
}
.team h5
{
    color: #555555;
    font-style: 800;
    font-family: 'Source Sans Pro', sans-serif;
}
.client
{
    padding: 80px;
    text-align: center;
}
.client h2
{
    font-size: 40px;
    font-weight: 800;
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
}
.container6
{
    width: 55%;
    margin: auto;
    margin-top: 30px;
    overflow: hidden;
    background-color: #f1f1f1;
    border-radius: 5px;
    position: relative;
}
.rotate
{
    width: 180px;
    height: 280px;
    background-color: #ff305b;
    float: left;
    transform: rotate(40deg);
    position: relative;
    bottom: 100px;
    right:70px; 
}
.client-img
{
    position: absolute;
    left: 18px;
    top: 40px;
}
.client-img img
{
    border-radius: 50%;
    width: 75%;
}
.alex
{
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 30px;
    color: #555555;
    font-family: 'Source Sans Pro', sans-serif;
}
.alex h3
{
    font-size: 26px;
    margin-bottom: 10px;
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
}
.alex p
{
    font-family: 'Source Sans Pro', sans-serif;
    width: 90%;
    font-style: italic;
    color: #555555;
}
.stars
{
    margin-top:8px;
    color: #f1c30d;
}
.blogs
{
    padding: 40px;
    background-color: #f1f1f1;
    text-align: center;
}
.blogs h2
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: #333;
}
.container7
{
    width: 90%;
    margin: auto;
}
.web-blog
{
    width: 100%;
    float: left;
}
.blog-inner
{
    text-align: left;
    padding: 30px 20px;
    line-height: 30px;
    background-color: white;
}
.item-container7
{
    width: 33.33333%;
    padding: 0px 20px;
    float: left;
    margin-top: 20px;

}
.blog-inner h4
{
    color: #555555;
    font-family: 'Source Sans Pro', sans-serif;
}
.blog-inner h5
{
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
    transition: 0.5s;
}
.blog-inner p
{
    color: #555555;
    line-height: 30px;
    margin-top: 10px;
}
.web-blog img
{
    width: 100%;
}
.blog-inner a
{
    text-decoration: none;
    color: #333333;
    font-size: 24px;
    transition: 0.5s;
}
.blog-inner a:hover
{
   color: #ff305b;
}
.blog-inner h5:hover
{
   color: #ff305b;
   cursor: pointer;
}
.contact-us
{
    padding: 50px 30px;
    text-align: center;
}
.contact-us h2
{
    font-size: 40px;
    font-weight: 800;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
    margin-bottom: 10px;
}
.container8
{
    width: 50%;
    margin: auto;
    margin-top: 30px;
}
.input-name
{
    padding-right: 30px ;
    width: 50%;
    float: left;
}
.input-name input
{
    padding-left: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    font-family: 'Roboto', sans-serif;

}
.input-email
{
    width: 50%;
    border-radius: 4px;
    float: left;
}
.input-email input
{
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding-left: 15px;
}
.input-subject
{
    border-radius: 10px;
    width: 100%;
    float: left;
    padding: 30px 0px;
}
.input-subject input
{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    padding-left: 15px;
}
.input-textarea
{
    border-radius: 5px;
    float: left;
    width: 100%;
}
.input-textarea textarea
{
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    height: 94px;
    font-family: 'Roboto', sans-serif;
    padding-left: 15px;
    padding-top: 8px;
}
.contact-btn
{
    padding: 0px 20px;
    height: 40px;
    float: left;
    margin-top: 20px;
    background-color: #ff305b;
    border-color: #ff305b;
    border:1px solid;
    border-radius: 4px;
    color: white;
    transition: 0.5s;
    font-family: 'Roboto', sans-serif;

}
.contact-btn:hover
{
    background-color: red;
    cursor: pointer;
}
.final
{
    padding: 50px 0px;
    background-color: #333333;
}
.container9
{
    margin: auto;
    width: 50%;
    text-align: center;
}
.final-icons
{
    color: #fff;
    margin-bottom: 10px;
}
.final i
{
    margin-right: 15px;
    transition: 0.5s;
    font-size: 18px;
}
.para a
{
    text-decoration: none;
    color: #ff305b;
    transition: 0.5s;
}
.para p
{
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
.para a:hover
{
    text-decoration: underline;
}
.final i:hover
{
    color:#ff305b;
    cursor: pointer;
}




